
body {
background-color: #358dcc;
border-color: #358dcc;
font-family: Verdana, sans-serif;
font-size: 100%;
}
h1 {
color: white;
text-align: center;
margin: 10px;
}
h2 {
text-align: left;
margin: auto;
}
h3 {
text-align: left;
 margin: auto;
 }
p {
color: black;
}
